{{>head}}
{{>navbar}}
<div class="row">
  <div class="col-8">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tenetur. Consectetur, mollitia fugiat nulla id fuga labore eveniet est. Asperiores sunt soluta nulla deleniti ducimus doloribus, ipsum voluptatibus eligendi et.</p>
  </div>
  <div class="col-4">
    <img src="assest/img/img1.jpg" class="img-thumbnail">
  </div>
</div>
{{>footer}}